<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Products nest app</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/product"
            routerLinkActive="active"
            >Products
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/product/create"
            routerLinkActive="active"
            >Añadir Producto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
